.breadcrumbs {
    margin: 10rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.breadcrumbs__item {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: "Poppins", sans-serif;
}

.breadcrumbs__item:hover {
    color: var(--color-brand-red-primary);
}

.breadcrumbs__item-active {
    color: rgba(0, 0, 0, 1);
}

.breadcrumbs__sep {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6);
}

.notfound {
    margin-bottom: 8rem;
}

.notfound__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    gap: 4rem;
}

.notfound__number {
    font-size: 11rem;
    font-weight: 500;
    color: var(--color-brand-red-primary);
    margin: 0;
}

.notfound__text {
    display: block;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    font-family: "Poppins", sans-serif;
}


.notfound__button {
    font-size: 1.6rem;
    font-weight: 500;
    color: #FAFAFA;
    font-family: "Poppins", sans-serif;
    background-color: #DB4444;
    border-radius: 4px;
    padding: 1.6rem 4.8rem;
    cursor: pointer;
    border: none;
}

.notfound__button:hover {
    background-color: #d02f2f;
}